<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - FaceVote</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style>
        h1{
            text-align:center
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <div class="logo">
                <img src="/static/logo.png" alt="College Campus Election Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/FAQ">FAQs</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    <!-- <div class="background-image-container">
        <img src="/static/uploads/bg-contact.jpeg" alt="Contact Icons Background" loading="lazy">
    </div> -->

    <div class="container">
        <h1>Contact Us</h1>
        <section class="contact-info">
            <p>If you have any questions, feedback, or inquiries, please feel free to contact us using the following information:</p>
            <ul>
                <li><strong>Email:</strong> <a href="mailto:info@facevote.com">info@facevote.com</a></li>
                <li><strong>Phone:</strong> +91-98765-43210</li>
            </ul>
        </section>

        </div>

    <footer>
        <p>&copy; 2025 FaceVote - Empowering Democratic Campus Elections</p>
    </footer>
</body>
</html>